@font-face {
	font-family: "CBC";
	src: url("/fonts/Radio_Canada/RadioCanada-Regular.ttf");
}

:root {
	--colour-primary-rgb: 230, 5, 5;
	--colour-primary: #e60505;

	/* light colours */
	--colour-bg: rgb(250, 250, 250);
	--colour-text-rgb: 39, 39, 39;
	--colour-text: rgb(var(--colour-text-rgb));
}

@media (prefers-color-scheme: dark) {
	:root {
		/* dark colours */
		--colour-bg: rgb(33, 33, 33);
		--colour-text-rgb: 238, 238, 238;
		--colour-text: rgb(var(--colour-text-rgb));
	}
}

body,
html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	background-color: var(--colour-bg);
	color: var(--colour-text);
}

body * {
	font-family: "CBC";
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	max-width: 800px;
	width: 100%;
}

.content {
	padding: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	padding: 20px;

	margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: solid 1px gray;
}

a {
	text-decoration: none;
	color: var(--colour-text);
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

hr {
	margin: 40px 0;
	width: 100%;
}

@media screen and (max-width: 992px) {
	footer {
		flex-direction: column;
	}

	footer p {
		margin-bottom: 10px;
	}
}
